{% extends 'dashboard/dashboard.html' %}
{% block content %}
    <div class="w-100 p-3">
        <div>
            <h2>Edit category</h2>
            <hr class="border-2">
        </div>
        <form id="editCategory">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ category.name }}" required>
            </div>
            <div class="form-group">
              <select class="form-select" aria-label="Default select example" name="parent" >
                <option value="" selected>Select the parent category</option>
                {% for categoy in categories%}
                  {% if category._id != categoy._id%}
                    {% if category.parent._id == categoy._id%}
                      <option value="{{categoy._id}}" selected>{{categoy.name}}</option>
                    {% else %}
                      <option value="{{categoy._id}}" >{{categoy.name}}</option>
                      {%endif%}
                {% endif %}
                {%endfor%}
              </select>
            </div>
           
            <div class="form-group">
              <select class="form-select" aria-label="Default select example" name="image">
                <option value="" selected>Select the images</option>
                {%for image in images%}
                  {% if 'category' in image.img_url %}
                    {% if category.image._id == image._id%}
                      <option value="{{image._id}}" selected>{{image.name}}</option>
                    {%else %}
                        <option value="{{image._id}}" >{{image.name}}</option>
                    {%endif%}
                
                  {%endif%}
                {%endfor%}
                </select>
            </div>
            <a class="btn btn-primary" onclick="createCategory('{{token}}','{{category._id}}')">Save</a>
          </form>

    </div>
    {%block script%}
    <script>
        async function createCategory(token,id){
        const form = document.getElementById("editCategory");
        const formData = new FormData(form);
        const data=Object.fromEntries(formData)
        
        const result=  await putMethod(`/api/category/${id}`,data,token)
        const toast=document.getElementById('toast')
        const toastbody=document.getElementById('toast-body')
                
        toast.classList.add("show")
        toastbody.innerHTML=result.detail
        window.location.href="/categories"
  } 

    </script>
    {% endblock%}
  
    
    
   

{% endblock %}

