Created the edit form {% extends 'dashboard/dashboard.html' %}

{% block content %}

    <div class="w-100 p-3">
        <div>
            <h2>Edit category</h2>
            <hr class="border-2">
        </div>
        <form id="editCategory">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ category.name }}" required>
            </div>
            <div class="form-group">
              <label for="parent">Parent</label>
              <input type="text" class="form-control" id="parent" name="parent" value="{{ category.parent.name if category.parent else '' }}">
            </div>
            <div class="form-group">
              <label for="image">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="{{ category.image.img_url if category.image else '' }}">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>

    </div>
    <!-- <script>
        const handleUpdateCategory = async (id) => {
            const form = document.getElementById('updateCategoryForm')
            const formData = new FormData(form);
            const formDataObj = Object.fromEntries(formData)
            const {detail, success} = await putMethod(`/api/categories/${id}`, formDataObj, token)
            showToast(detail, success, '/dashboard/categories')
        }   
        function updateQuantity(change) {
         let quantityInput = document.getElementById('quantity');
         let currentQuantity = parseInt(quantityInput.value);
         if (currentQuantity + change >= 1) {
             quantityInput.value = currentQuantity + change;
         }
        }
    </script>  -->
    
    
   

{% endblock %}

