<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/script.js"> </script>
  <title>Dashboard</title>
 
</head>
<body>
 <div class="d-flex" style="height: 200px;">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light " style="width: 200px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="40"><use xlink:href="#bootstrap"/></svg>
          <!-- <span class="fs-4">Dashboard</span> -->
          <h1 class="fs-5 " >Dashboard</h1>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          
          <li>
            <a href="/orders" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="/categories" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Categories
            </a>
          </li>
          <li>
            <a href="/products" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Products
            </a>
          </li>
          <li>
            <a href="/users" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              Users
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" onclick="logout('{{token}}')">Logout</a>
          </li>
        </ul>
        <hr>
      
      </div>
      <script>
         function logout(token) {
             fetch(`/api/logout`, {
                 method: 'GET',
                 headers: {
                    'Authorization': `Bearer ${token}`,
                    
                 },
                
             })
             .then(response => response.json())
             .then(data => {
                
                 if (data.success === true) {
                    
                    window.location.href='/login'
                 } 
             })
             .catch(error => {
                 console.error('Error:', error);
                
            });
         }
      </script>
    
     
      {% block content %}
      
        
      
      {% endblock%}
      <div class="toast position-fixed end-0 bottom-0 " id="toast"  role="alert" aria-live="assertive" aria-atomic="true" >
        <div class="toast-header">
          <!-- <img src="..." class="rounded me-2" alt="..."> -->
          <strong class="me-auto">Bootstrap</strong>
          <!-- <small class="text-muted">11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body">
            
        </div>
      </div>

 </div>
</body>
</html>