{% extends 'dashboard/dashboard.html' %}

{% block content %}

  <div class="w-100 p-2">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Products</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Create</button>

    </div>
    <!-- <h1 >Products</h1>
    <button type="button" class="btn btn-success">Create</button> -->
    <hr class="border-2" />
    
    <!-- Table to display products -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Images</th>
          <th scope="col">Feature Product</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
       
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.item }}</td>
            <td>{{ product.price }}</td>
            <td>
              {% for image in product.images %}
                <img src="/static/{{image.img_url }}" alt="{{ product.name }} Image" style="max-width: 100px;"/>
              {% endfor %}
            </td>
            <td>{{ product.feature_product }}</td>
            
            <td><a class="btn btn-primary" href="/products/edit/{{product._id}}" role="button">Edit</a></td>
            <td><a class="btn btn-danger" onclick="productDelete('{{token}}','{{product._id}}')">Delete</a></td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
   <!-- strat bootstrap modal -->
   <div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form id="createProductForm">
            <div class="mb-3">
              <label for="categoryName" class="form-label">Name</label>
              <input type="text" class="form-control" id="categoryName" name="name" required>
            </div>
            <div class="mb-3">
              <select name="category" class="form-select" aria-label="Default select example">
               
                {% for categoy in categories%}
                <option value="{{categoy._id}}">{{categoy.name}}</option>
                
                {%endfor%}
              </select>
            </div>
            <div class="mb-3">
              <label for="categoryDescription" class="form-label">Description</label>
              <textarea type="text" class="form-control" id="categoryDescription" name="description" required></textarea>
            </div>
            <div class="mb-3">
              <label for="categoryItem" class="form-label">Item</label>
              <input type="number" class="form-control" id="categoryItem" name="item" required>
            </div>
            <div class="mb-3">
              <label for="categoryPrice" class="form-label">Price</label>
              <input type="number" class="form-control" id="categoryPrice" name="price" required>
            </div>
            <div class="mb-3">
              <select
              class="form-select"
              multiple
              id="images"
              aria-label="Floating label select example"
              name="images"
              style="height: 150px"
            >
              {% for image in images %}
              <option value="{{image._id}}">{{image.name}}</option>
              {% endfor %}
            </select>
            </div>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" name="feature_product" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Feature Product
              </label>
            </div>
          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-secondary" onclick="createProduct('{{token}}')">Save</a>
         
        </div>
      </div>
    </div>
  </div>
  <!-- end bootstrap -->
  {% block scripts %}
  <script>
    async function createProduct(token){
    
    const form = document.getElementById("createProductForm");
    const formData = new FormData(form);
    const data = Object.fromEntries(formData);
    
    if (data.feature_product){
      data.feature_product=true
    }
    
  
    const selectedOptions = document.querySelectorAll("#images :checked");
    const selectedImages = [...selectedOptions].map((option) => option.value);
    data.images=selectedImages

    const result=  await postMethod("/api/product",data,token)
    const toast=document.getElementById('toast')
    const toastbody=document.getElementById('toast-body')
            
    toast.classList.add("show")
    toastbody.innerHTML=result.detail
    window.location.reload()
  }
  

  async function productDelete(token,id){
    const result=await deleteMethod(`/api/product/${id}`,token)
    const toast=document.getElementById('toast')
    const toastbody=document.getElementById('toast-body')
    toast.classList.add("show")
    toastbody.innerHTML=result.detail  
    window.location.reload()
      
  }
  </script>
  {% endblock%}


{% endblock %}