{% extends 'dashboard/dashboard.html' %}

{% block content %}
  <div class="w-100 p-2">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Users</h1>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Create</button>
    </div>
    <hr class="border-2" />
    
    <!-- Table to display categories -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Admin</th>
          <th scope="col">Login</th>
          <th scope="col">Edit</th>

        </tr>
      </thead>
      <tbody>
        {% for user in users %}
       
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_admin }}</td>
            <td>{{ user.is_login }}</td>
            <td><a class="btn btn-primary" href="/users/edit/{{user._id}}" role="button">Edit</a></td>
          </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
 
 
  <!-- strat bootstrap modal -->
  <div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create user</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form id="createUserForm">
            <div class="mb-3">
              <label for="userName" class="form-label">Username</label>
              <input type="text" class="form-control" id="userName" name="username" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label"> Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="password" required>
            </div>
            
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" name="is_admin" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Admin 
              </label>
            </div>
            

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save</button> -->
          <a class="btn btn-secondary" onclick="createUser('{{token}}')">Save</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end bootstrap -->
  {% block scripts %}
<script>
   async function createUser(token){
    const form = document.getElementById("createUserForm");
    const formData = new FormData(form);
    const data=Object.fromEntries(formData)
    if (data.is_admin){
      data.is_admin=true
    }
  
    const result=  await postMethod("/api/auth/register",data,token)
    const toast=document.getElementById('toast')
    const toastbody=document.getElementById('toast-body')
            
    toast.classList.add("show")
    toastbody.innerHTML=result.detail
   
    window.location.reload()
  }
  
 
</script>
{% endblock %}
  
{% endblock %}