<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Myanmar Traditional Dress Website{% endblock %}</title>
     <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
</head>
<body>
    <section id="header">
        <a href="#"><img src="/static/assets/category/Logo-25-Jun-2024-11:09AM.png" alt=""></a>
        <div>
            <ul id="navbar">
                
                <li><a href="/">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <!-- <li><a class="active" href="about.html">About</a></li> -->
                <li><a href="about.html">About</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/api/logout">Logout</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="something"><i class="far fa-shopping-bag"></i></a>
            <!-- <i id="bar" class="fas fa-outdent"></i> -->
        </div>
    </section>
    {% block content %}
    {% endblock %}
    
    
</body>
</html>