{%extends "base.html"%}
{% block title %}Myanmar Traditional Dress Website{% endblock %}
{% block content %}

    <div>
            {% for item in cart %}
            <li>
                <p>{{ item.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }} - Total: ${{ item.total_price }}</p>
                <form action="/add-to-cart" method="post">
                    <input type="hidden" name="product_id" value="{{ item.product_id }}">
                    <input type="hidden" name="action" value="increase">
                    <button type="submit">Increase</button>
                </form>
                <form action="/add-to-cart" method="post">
                    <input type="hidden" name="product_id" value="{{ item.product_id }}">
                    <input type="hidden" name="action" value="decrease">
                    <button type="submit">Decrease</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <form action="/checkout" method="post">
            <button type="submit">Checkout</button>
        </form>
    </div>
{% endblock %}


