{%extends "base.html"%}
{% block title %}Myanmar Traditional Dress Website{% endblock %}
{% block content %}

        <h2>Cart Items</h2>
       
        {% if cart %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart["cart"] %}
                   <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}


{% endblock %}


