
{% extends "index.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/testing.css">

<div class="container">
    <div class="login-box">
        <form method="post" action="api/change-password">
            <!-- solve the overwride method because patch method and post method are overwride  -->
            <input type="hidden" name="_method" value="PATCH">
            <!-- for authentication  -->
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-unread"></ion-icon></span>
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-box"> 
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="text" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="text" id="new_password" name="new_password" required>
                <label for="new_password">New Password</label>
            </div>
            
            <button type="submit">Change Password</button>
        </form>
        <div id="error-message" class="error-message">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}
