<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <section id="header">
        
        <div>
            <ul id="navbar">
                <li><a href="/order">Order</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/user">user</a></li>
            </ul>
        </div>
        <div id="mobile">
            <a href=""><i class="far fa-shopping-bag"></i></a>
            <!-- <i id="bar" class="fas fa-outdent"></i> -->
        </div>
    </section>
</body>
</html>