

{% extends 'base.html' %}
{% block head %}
    <meta http-equiv="Authorization" content="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjdlNzE3ZWQ5M2MyMjY3ODM3NjlmNjYifQ.xnjcMuGChMc0957-99rAUYT1BPuzlHIhxKoKoqsX2vk">
{% endblock %}

{% block content %}


<link rel="stylesheet" href="/static/css/testing.css">

<div class="container">
    <div class="login-box">
        <form  id="loginForm">
            
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-unread"></ion-icon></span>
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="change-password">
                <a href="/change-password">change password?</a>
            </div>
            <!-- <button type="submit">Sign In</button> -->
            <a class="btn btn-secondary" onclick="login()"> Sign In</a>
            <div class="register-link">
                <p>Don't have an accouont?<a href="/register">Singn Up</a></p>
            </div>
        </form>
        <!-- Add error message display logic here -->
        <div id="error-message" class="error-message">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
  
</div>
<script>
     function login(){
        const form = document.getElementById("loginForm");
        const formData = new FormData(form);
        const data=Object.fromEntries(formData)
        
        fetch('/api/auth/login', {
            method: 'POST',
            headers: {
                
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            const toast=document.getElementById('toast')
            const toastbody=document.getElementById('toast-body')
            toast.classList.add("show")
            toastbody.innerHTML=data.detail
            window.location.href=data.url
                
        })
        .catch(error => {
            
            const toast=document.getElementById('toast')
            const toastbody=document.getElementById('toast-body')
            
            toast.classList.add("show")
            toastbody.innerHTML=error.detail
            
            // setTimeout(() => {
            // console.log("Delayed for 1 second.");
            //  }, "1000");
       });
    }
</script>


<!-- ionicorn js link -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}











