
{% block content %}
<div class="p-3">
    <div class="mb-3">
        <h1>Update Category</h1>
    </div>
    <hr>
    <div>
        <form id="updateCategoryForm">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name" name="name" value="{{category.name}}" required>
                </div>
                <div class="col">
                    <select class="form-select" name="parent_category" required>
                        <option selected value="null">No Parent Category</option>
                        {% for cat in categories %}
                            {% if cat._id != category._id %}
                                {% if cat._id == category.parent_category._id %}
                                    <option value="{{cat._id}}" selected>{{cat.name}}</option>
                                {% else %}
                                    <option value="{{cat._id}}">{{cat.name}}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" name="image">
                        <option selected value="null">No Image</option>
                        {% for img in images %}
                            {% if img._id == category.image._id %}
                                <option value="{{img._id}}" selected>{{img.name}}</option>
                            {% else %}
                                <option value="{{img._id}}">{{img.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a onclick="handleUpdateCategory('{{category._id}}', '{{token}}')" class="btn btn-dark">Update</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const handleUpdateCategory = async (id, token) => {
        const form = document.getElementById('updateCategoryForm')
        const formData = new FormData(form);
        const formDataObj = Object.fromEntries(formData)
        const {detail, success} = await putMethod(`/api/categories/${id}`, formDataObj, token)
        showToast(detail, success, '/dashboard/categories')
    }   
</script>

{% endblock %}